<div>

    <input type="text" class="form-control" placeholder="Szukaj...">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>

    <input type="text" class="form-control" placeholder="Search Blog..">
    <input type="text" class="form-control" placeholder="Search Blog..">
    <input type="text" class="form-control" placeholder="Search Blog..">
    
    <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>

</div>